.content{
  margin: auto;
  width: 40%;
  height: 300px;
  margin-top: 40px;
  background-color: #8b1e2e;
  padding: 20px;
}

#captcha{
  display: block;
  width: auto;
  margin: auto;
  height: 100px;
  font-family: Raleway, sans-serif;
  font-size: 35px;
  text-align: center;
}
